<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/library.css">
	<link href="./css/sidebar.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <title>{{ title }}</title>
</head>
<body>
    <div id="menu">
		<div class="hamburger">
			<span class="material-icons-round">menu</span>
		</div>
		<div class="menu-inner">
			<ul>
				<li><a href="/"><span class="material-icons-round">auto_stories</span>Library</a></li>
				<li><a href="/add"><span class="material-icons-round">add</span>Add Item</a></li>
				<li><a href="/logout"><span class="material-icons-round">logout</span>Logout</a></li>
			</ul>
		</div>
		<svg version="1.1" id="blob"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z"/>
		</svg>
	</div>
	<div class="main">
		{{#each books}}
			<div class="book">
				{{#bookCover _doc.isbn_13}}{{/bookCover}}
				<span class="title">{{_doc.title}}</span>
				<span class="author">{{_doc.author}}</span>
			</div>
		{{/each}}
	</div>
    <script src="./js/index.js"></script>
</body>
</html>